.Watch {
    text-align: center;
    background-color: #b1b1b1;
}

.Main-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.Video-player {
    flex: 60%;
    width: auto;
    max-height: 80%;
    justify-content: center;
}

.Comments-list,
.Video-list {
    flex: 20%;
    min-height: 494px;
    height: 100%;
}

.Video-player,
.Comments-list,
.Video-list {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Video-player h2,
.Comments-list h2,
.Video-list h2 {
    margin: auto,
}