.Upload-form {
  background-color: #818181;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.Upload-form input,
.Upload-form textarea,
.Upload-form button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 20px);
  border: none;
  border-radius: 4px;
}

.Upload-form select {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: calc(40% - 20px);
  border: none;
  border-radius: 4px;
}

.Upload-form input[type='file'] {
  margin-bottom: 20px;
}

.Upload-button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.Upload-button:disabled {
  background-color: #ccc;
  color: #666;
}

.Upload-button:not(:disabled):hover {
  background-color: #0056b3;
}

.Upload-progress {
  width: 100%;
  margin-top: 10px;
}

.Upload-success {
  color: green;
}

.mpaa-select-container {
  display: flex;
  margin-bottom: 10px;
}

.mpaa-select-container label,
.mpaa-select-container select {
  padding: 5px;
  margin: auto;
}